	<div ng-controller="HackJobCtrl">      
      <div class="masthead">
        <a class="brand" href="" ng-click="">
          <span class="muted toplogo"><!--<span class="icon gi-hatchets"></span>--><span>hack<span class="highlight">job</span>.io </span></span>
        </a>
        <div style="float: right; padding-top: 20px; padding-left: 10px;">
          <iframe src="https://ghbtns.com/github-btn.html?user=dvx&repo=hackjob&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
        </div>
      </div>
      <hr style="margin-top:-10px;">
      <ul class="nav nav-tabs">
        <li ng-class="app.route === 'who-is-hiring' ? 'active' : ''" ><a href="#/who-is-hiring"><i class="fa fa-building"></i>&nbsp;&nbsp;Who is hiring?</a></li>
        <li ng-class="app.route === 'who-wants-to-be-hired' ? 'active' : ''"><a href="#/who-wants-to-be-hired"><i class="fa fa-users"></i>&nbsp;&nbsp;Who wants to be hired?</a></li>
        <li ng-class="app.route === 'freelancer-seeking-freelancer' ? 'active' : ''"><a href="#/freelancer-seeking-freelancer"><i class="fa fa-suitcase"></i>&nbsp;&nbsp;Freelancer? Seeking freelancer?</a></li>
      </ul>

      <div class="jumbotron">
        <div ng-hide="loaded">
      		<h2 style="text-align: center"><i class="fa fa-cloud-download highlight"></i> fetching job data...</h2>
      		<progressbar ng-style="{'visibility': progress ? 'visible' : 'hidden'}" class="no-animate progress-striped active" max="max" value="progress" type="info">
      			<span ng-show="progress / max > 0.2" style="color:white; white-space:nowrap;">{{progress}} / {{max}}</span>
      		</progressbar>
      	</div>

        <div ng-show="loaded">
          <p ng-bind-html="app.flavor"></p>
        	<tags-input min-length="1" ng-model="tags"></tags-input>
        	<a ng-click="findJobs(tags)" class="pull-right btn btn-large btn-primary">Search</a>
        </div>
      </div>

      <div ng-show="nfound" class="none-found">Nothing found.. <i class="fa fa-frown-o"></i> Try searching with different tags!</div>

      <hr>

      <div class="row-fluid">
        <div class="job-container span6" ng-repeat="job in foundJobs">

          <h4><i class="highlight fa fa-lightbulb-o"></i> <span bind-html-compile="job.title"></span></h4>
          <hr>
          <div bind-html-compile="job.text"></div>
          <div class="job-footer"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;<span>{{ job.time * 1000 | date:'MM/dd/yyyy h:mma'}}</span></div>
          <div class="btn-group pull-right btn-group-xs" role="group" aria-label="...">
            <a type="button" class="btn btn-default" href="https://news.ycombinator.com/item?id={{ job.id }}" target="blank"><i class="fa fa-link"></i> Permalink</a>
          </div>
          <div class="clearfix"></div>

        </div>
        <div ng-hide="foundJobs.length > 0" class="row">
          <div class="row vertical-align">
            <div class="col-md-2" style="text-align:right"><i style="font-size: 50px;" class="fa fa-rocket highlight"></i></div>
            <div class="col-md-10">
              <blockquote>
                <p>Hide not your talents. They for use were made. What's a sundial in the shade?</p>
                <footer>Benjamin Franklin</footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p class="pull-right">Built by <a href="http://dvt.name" target="_blank">David Titarenco</a></p>
      </div>
</div>