<!DOCTYPE html>
<html>
  <head>
    <title>hackjob.io</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

    <!--STYLES-->
    <link rel="stylesheet" href="/vendor/bootflat/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootflat/css/bootflat.css">
    <link rel="stylesheet" href="/vendor/bootflat/css/bootflat-square.css">
    <link rel="stylesheet" href="/vendor/bootflat/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/ng-tags-input/ng-tags-input.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body ng-app="hackjob">
    <div ui-view class="container-narrow"></div>    
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/vendor/sails.io.js/dist/sails.io.js"></script>
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/vendor/lodash/dist/lodash.min.js"></script>
    <script src="/vendor/restangular/dist/restangular.min.js"></script>
    <script src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/vendor/angular-animate/angular-animate.min.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/vendor/angular-sails/dist/angular-sails.min.js"></script>
    <script src="/vendor/ng-tags-input/ng-tags-input.min.js"></script>
    <script src="/vendor/firebase/firebase.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/components/hackernews-resource/hackernews-resource-service.js"></script>
    <script src="/app/components/sails-resource/sails-resource-service.js"></script>
    <script src="/app/components/util-service.js"></script>
    <script src="/app/main/main-routes.js"></script>
    <!--SCRIPTS END-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65427524-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
